# Exclude these specific executibles
a.out
vectors
linked-list
factors
MPI_array_sum
MPI_vector_dot
MPI_Normalize_Vector
mpicell

# Object files
2DCellAut.o
CellAut.o
mpicell.o


# Other stuff
.DS_Store
depreciated/
