# Exclude these specific executibles
a.out
vectors
linked-list
factors
MPI_array_sum
MPI_vector_dot
MPI_Normalize_Vector
MPI_Vector_STD
MPI_Vector_Mean
MPI_LOS
mpicell
omp-pi
omp_vectors
pfor-no-sugar-arraysum
matrices
print_openmp_macro

# Object files
2DCellAut.o
CellAut.o
mpicell.o


# Other stuff
.DS_Store
*.o
depreciated/
